.summaryCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    
    
}
@media screen and (min-width: 768px) {
	.summaryCard{
       
        width: 288px;
        height: 56px;
        
        
        
    }
}
.image{
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.red{
    color: #FF5555;
}
.yellow{
    color: #FFB21E;
}
.green{
    color: #00BB8F;
}
.blue{
    color: #1125D6;
}

.bg_red{
    background-color: hwb(0 95% 0%);
}

.bg_yellow{
    background-color: hwb(39 95% 0%);
}

.bg_green{
    background-color: hwb(166 95% 0%);
}

.bg_blue{
    background-color: hwb(234 95% 0%);
}
.container{
    display: flex;
    flex-direction: row;
    

}
.total{
    color: #303b5981;
    margin-left: 8px;
}